#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#songsTable {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#songsTable td, #students th {
  border: 1px solid #ddd;
  padding: 8px;
}

#songsTable tr:nth-child(even){background-color: #f2f2f2;}

#songsTable tr:hover {background-color: #ddd;}

#songsTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #282c34;
  color: white;
}